<!DOCTYPE html>
<html lang="en">
        {% load static %}
  <head>
    <meta charset="UTF-8">
    <title>Please Upload File Here</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
  </head>

  <!-- upload file button -->
  <body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <!-- accept filters selection and only seeks json files -->
      <input type="file" required accept=".json" name="file">
      <br>
      <input type="submit" name="visualize" value="Generate Chart" formaction="/"> <!-- Visualize JSON data into charts -->
      <input type="submit" value="Download File" name="download" formaction="/data"> <!-- Export JSON data into a file -->
    </form>

    <!-- end of upload file button -->

    <canvas id="chart" width="500" height="500"></canvas>
  </body>

  <!--- End of Load JSON file to chart -->
</html>